<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
</head>
<body>
    <h1>I am a Learner.</h1>
    <p>Yo, are you awake. I didn't sleep the whole night.</p>
    <p>My current time is: {{ time }}</p>
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHU1dncycmJzcnVwcjd4cmw3eWIydDI5YmRhZmYwMDE0eDhpcDJwYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cl2PsDEg80omBDkq8G/giphy.gif" alt="Learning GIF" width="100" height="100">
    
    <img [src]="imgLink" alt="Angular Logo" width="300" height="300">

    <hr>

    <h1>Angular Course</h1>
    <p>Learning Components</p>
    <p>This paragraph belong to my first compnent.</p>
    <button>Click me</button>

    <p>My course is: {{ course }}</p>
    <p>concat {{ course + " to Advanced" }}</p>

    <hr>

    <app-header></app-header>

    <hr>

    <app-try-class></app-try-class>

    <hr>

    <h3>Property Binding</h3>
    <input [value]="userName"> <span> ==> </span>
    <button [disabled]="isDisable" (click)="onSubmit()">Submit</button>

    <hr>

    <h3>Event Binding</h3>
    <button (click)="askName()">Click me</button>
    <br>
    <br>
    <br>
    <span>
    <span>You said Allahuakber <span class="count">{{ count }}</span> times.</span> <span><button (click)="incrementCount()">Allahuakber</button></span> <span><button (click)="decrementCount()">-1</button></span> <span><button (click)="resetCount()">Reset</button></span> 
    </span>

    <hr>

    <h2>Directives</h2>
    <h3>*ngIf demo</h3>
    
    <p *ngIf="isLogin" class="loggedIn">
        welcome back, you are logged in.
    </p>

    <!-- Using expression in *ngIf -->
    <p *ngIf="age >= 18">
        He is an Adult.
    </p>
    <p *ngIf="age < 18">
        He is not an Adult.
    </p>

    <p *ngIf="isStudent; else isNotStudent">
        Welcome student.
    </p>
    <ng-template #isNotStudent>
        <p>Please login as student.</p>
    </ng-template>

    <h3>ngFor demo</h3>
    <ul>
        <li *ngFor="let student of students">
            <p>{{student}}</p>
        </li>
    </ul>

    <p>using index:</p>
    <ul>
        <span *ngFor="let student of students; index as i">
            <p>{{i + 1}}. {{student}}</p>
        </span>
    </ul>

    <h3>Attribute Directives</h3>
    <p [ngClass]="isPassed ? 'pass' : 'fail'">Exam Result</p>
    <p [ngClass]="bnResult >= 33 ? 'pass' : 'fail'"> the result is: {{ bnResult }} & the student have <span *ngIf="bnResult >= 33; else failDizz">Passed</span>.</p>
    <!-- <ng-template #passDizz>
        <span>Passed</span>
    </ng-template> -->
    <ng-template #failDizz>
        <span>Failed</span>
    </ng-template>

    <p>I like <span [ngClass]="'highlight fail'">not</span> you.</p>

    <p>NgClass used in object:</p>
    <p>He got <span [ngClass]="{pass: bnResult >= 33, fail: bnResult < 33}">{{bnResult}}</span> in English 101. He <span *ngIf="bnResult >= 33; else failDizz">passed</span></p>

    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <!-- Example row data -->
            <tr>
                <td>Alice</td>
                <td>31</td>
            </tr>
            <tr>
                <td>Bob</td>
                <td>78</td>
            </tr>
            <tr>
                <td>Charlie</td>
                <td>85</td>
            </tr>
            <tr>
                <td>Diana</td>
                <td>99</td>
            </tr>
        </tbody>
    </table>

    <!-- @if Modern alternative to *ngIf-->
    <h3>@ if in Angular -> *ngif alternative</h3>
    @if (isLoggedin) {
        <p [ngClass]="'loggedIn'">Welcome back. Good to see you again. You have logged back in successfully.</p>
    }

    @if (isLoggedin) {
        <p [ngClass]="'loggedIn'">Welcome back. Good to see you again. You have logged back in successfully.</p>
    } @else {
        <p [ngClass]="'fail'">You are not logged-in.</p>
    }

    
    
    
</body>
</html>